  .buttonSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #9a67e7;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 4px 5px 4px 5px;
  text-align: center;
  }

  .buttonIcon {
    width: 16%;
  }