.description-organize-container {
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7fafd;
  padding: 80px 0 80px 0;
}

.description-organize-image {
width: 500px;
height: auto;
}

.descriptiom-organize-text {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:10px;
}

.description-schedule-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e8eff6;
  padding: 80px 30px;
}

.description-schedule-tasks{
    width: 400px;
}

.description-schedule-image {
    width: 500px;
}
.descriptions-schedule-tasks-buttons{
    display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.description-schedule-tasks-privacy-buttons {
    display: flex;
    gap: 8px;
}