@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: none;
  font-family: "Open Sans", sans-serif;
}
body {
  margin-top: 0;
  color: #848484;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 40px;
  color: black;
}